.container {
    position: relative;
    width: 100%;
    padding: 0;
  }
.centru{
    justify-content: center;
}
  .image {
    opacity: 5;
    display: block;
    transition: .10s ease;
    backface-visibility: hidden;
    width: 10%;
    height: 100%;
    padding: 5px;

  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    -ms-transform: translate(-10%, -30%);
  }
  
  .container:hover .image {
    opacity: 20;
  }
  
  .container:hover .middle {
    opacity: 20;
  }
  
  .text-pozacentrala {
    
    color: black;
    font-size: 40px;
    font-family: "Audiowide", sans-serif;
    padding: 6px 2px;
  }
  
  * {
    box-sizing: border-box;
  }  
  

  .column {
    float: left;
    padding: 10px;
  }
  

  .column.side {
    width: 25%;
    padding-top: 40px;
  }
  
  .column.mid {
    width: 75%;
    height: auto;
  }
  
  .central:after {
    content: "";
    display: table;
    clear: both;
  }

  
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

  .banner{
    padding: 5px;
  }

  .text-central{
    text-align: center;
    font-size: 50px;
    text-decoration: solid;
  }
  